@font-face {
  font-family: 'OpenSans-Light';
  src:url('/assets/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src:url('/assets/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src:url('/assets/OpenSans-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
	font-family: 'OpenSans-Light', 'OpenSans-Regular',   'OpenSans-Semibold',sans-serif;
	margin: 0;
	padding: 0;
  height: 100%;
  width:100%;
}
#divHead {
  height:63px;
  color:white;
  text-align:center;
  background-color:#1cb0e6;
}

#divHead h1 {
	margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 8px;
}

#show-add-form {
  position: absolute;
  right: 40px;
  top: 21px;
}

label {
  font-size:14px;
  display: inline;

  }

ul.todo-list {
  list-style-type: none;
  margin: 0;
  padding:0px;
}

.crossOfList {
  text-decoration: line-through;
}

div.panel-header h4 {
  margin-left:5px;
  font-weight:bold;
  font-size:18px;
  margin:4px;
  padding:4px;
  border-bottom: 1px solid #dddddd;
}
.panel {
  margin-top: 50px;
}
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0,0,0,0.8);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
}
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  background: #ffffff;
}
.title-todo-odd-form {
  height: 40px;
  border-bottom: 1px solid #dddddd;
  padding-top: 8px;
  text-align: center;
  color: black;
  font-weight:bold;
  font-size: 18px;
}
.field-title-add-todo-form {
  height: 50px;
  padding: 10px; 
}
.field-title-add-todo-form input {
   width: 100%;
   height: 40px;
   padding: 5px;
}
.select-add-todo-form {
  height: 55px;
  padding: 8px 10px 5px 10px; 
 
}
.js-example-disabled-results{
  width: 340px;
  text-align: left;
  padding: 5px;
}
.select2-selection {
  -webkit-box-shadow: 0;
  box-shadow: 0;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #555555;
  font-size: 14px;
  outline: 0;
  min-height: 40px;
  text-align: left;
}

.select2-selection__rendered {
  margin: 7px;
  border-radius: 0;
}

.select2-selection__arrow {
  margin: 7px;
  border-radius: 0;
}
.submit-button-add-todo-form{
text-align:center;
  height: 60px;
  padding: 5px;
}
.submit-button-add-todo-form input{
  height: 40px;
  width: 166px;
  border-radius: 0;
  margin: 1px;
}